<!-- 
    Layout yang berisi code head.ejs, navbar.ejs, footer.ejs, dan script
    untuk cleaner code
 -->
<!DOCTYPE html>
    <%- include('./head.ejs') %>
<body>
    <%- include('./navbar.ejs') %>

    <%- body %>

    <%- include('./footer.ejs') %>
    <script src="<%= script %>"></script>
</body>