<main id="site-main">

    <a href="/dashboard/add_menus" class="add-menu">
        <!-- <span class="material-icons-sharp">add</span> -->
        +
    </a>

    <div class="dashboard-container">

        <a href="/dashboard/add_menus" class="add-menu-btn">
                <span class="material-icons-sharp">add</span>
                Add Menu
        </a>

        <form action="/dashboard" method="POST">
            <table class="menu-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(var i=0; i < menu.length; i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><img src="<%= menu[i].image %>" width="150px"></td>
                        <td><%= menu[i].name %></td>
                        <td><%= menu[i].price %></td>
                        <td><%= menu[i].type %></td>
                        <td>
                            <div class="menu-modify-btn">
                                <a href="/dashboard/update_menus?id=<%=menu[i]._id %>" class="menu-update">
                                    <span class="material-icons-sharp">
                                        edit
                                    </span>
                                </a>

                                <a href="#" class="menu-delete"  data-id="<%= menu[i]._id %>">
                                    <span class="material-icons-sharp">
                                        delete
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </form>
    </div>
</main>

<script>
    const deleteLinks = document.querySelectorAll('.delete');

    deleteLinks.forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();

            const menuId = e.currentTarget.getAttribute('data-id');

            if (menuId) {
                fetch(`/menus/${menuId}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        console.log(`Menu with ID ${menuId} has been deleted.`);
                        // REFRESH PAGE SO THAT THE ID IS UPDATED
                        window.location.reload();
                    } else {
                        console.error(`Error deleting menu item. ${menuId}`);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            } else {
                console.error('Menu ID is undefined.');
            }
        });
    });
</script>